{{!-- Handlebars Sitewide Layout -- make changes here that will apply to the entire site --}}
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="description" content="{{siteInfo.siteDescription}}">
    <link rel="stylesheet" media="screen" href="/stylesheets/style.css">
    <!-- Adds HTML5 element support for earlier versions of IE -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <header role="banner">
        <h1><a href="/"  title="{{siteInfo.siteTitle}}">{{siteInfo.siteTitle}}</a></h1>
        <div id="accountInfo">
            <label for="accountInfo">Account: </label>
            {{#if user}}
            <a href="/users/account" title="Modify Account">{{user.email}}</a>&nbsp;|
            <a href="/users/logout" title="Logout">Logout</a> {{else}}
            <a href="/users" title="Login">Login</a>&nbsp;|
            <a href="/users/create" title="Create Account">Create Account</a> {{/if}}
        </div>

        <nav role="navigation" class="siteNavigation">
            <ul>
                {{!--<li><a href="/" title="About this App">About</a></li>--}}

                {{!-- Restricted links. These won't be shown unless the user is logged in --}} 
                {{#if user}}
                    {{!--<li><a href="/organizations" title="Organizations">Organizations</a></li>--}}
                    <li><a href="/workspace" title="Workspace">Workspace</a></li>
                        <ul>
                        {{#each user.workspaces}}
                            <li>
                                <a href="/workspace#/org/{{this._organization._id}}" 
                                    title="{{this._organization.name}}">
                                    {{this._organization.name}}
                                </a>    
                            </li>
                        {{/each}}
                        </ul>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main role="main" class="{{className}}">
        {{{body}}}
    </main>

    <footer>
	    <!-- Client-side GUI scripts go here -->
    </footer>

</body>

</html>