{{#if statusMessage}}
        <p class="{{status}}"><strong>{{status}}:&nbsp</strong>{{statusMessage}}.</p>
        <p>Try again or <a href="/users/create" title="Create Account">create an account</a></p>
{{/if}}

<form name="login" method="post" action="users/login">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" value="{{formInput.email}}" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    
    {{#if cookieConfig.cookieMaxAgeDays}}
            <label for="stayLoggedIn">Keep me logged in for {{cookieConfig.cookieMaxAgeDays}} days</label>
            <input type="checkbox" id="stayLoggedIn" name="stayLoggedIn">
    {{/if}}
    
    <input type="submit" value="Login">
</form>